.usable {
    &:hover {
        cursor: pointer;

        path {
            fill: $yellowColor;
        }
    }

    &:active {
        path {
            fill: $blueColor;
        }
    }
}

.dropdown-menu {
    &__button-nav {
        position: relative;
    }

    &__checkbox {
        position: absolute;
        top: -66666px;

        &:checked~.dropdown-menu__nav {
            display: block;
        }
    }

    &__label {
        cursor: pointer;
    }
}

.product {
    &-card {
        position: relative;
        transition: 0.5s;

        &:hover {
            cursor: pointer;
            transition: 0.5s;
            transform: scale(1.1);

            & .product-card__hover {
                animation: appearance 1s forwards;
                display: block;
            }
        }

        &:not(:hover) .product-card__hover {
            animation: disappearance 0.7s forwards;
            display: block;
        }

        &__hover {
            position: absolute;
            box-sizing: border-box;
            border-radius: 30px;
            height: 100%;
            width: 100%;
            background: $turquoiseColor;
            display: none;
            animation: disappearance 0.7s forwards;
        }

        &__animation {
            width: 100%;
            height: 100%;
            @extend %flex-center-center;
            position: relative;

            &-text {
                position: absolute;
                animation: rotation-left 6s linear infinite;
            }

            &-chamomile {
                position: absolute;
                animation: rotation-right 7s linear infinite;
            }
        }

    }
}