.catalog {
    background: linear-gradient(0.00deg, rgb(249, 249, 249) 51.616%, rgb(213, 217, 217) 198.516%);

    &-top {
        min-height: 115px;
        border-bottom: 1.5px solid $grayColor;
        @extend %flex-center;
        gap: 55px;

        &__left {
            @extend %flex-sa-center;
        }

        &__price {
            &-box {
                @extend %flex-center-center;
                gap: 10px;
                min-width: 260px;

                &:hover {
                    & p {
                        color: $blueColor;
                    }

                    & svg path {
                        fill: $blueColor;
                    }
                }

                &:active {
                    & p {
                        color: $yellowColor;
                    }

                    & svg path {
                        fill: $yellowColor;
                    }
                }
            }

            &-text {
                @include font(14px, 700);
                max-width: 64px;
                min-height: 42px;
                line-height: 1.5em;
                color: $blackColor;
            }
        }

        &__title {
            color: $blueColor;
            @include font(24px, 700);
            text-wrap: nowrap;
        }

        &__right {
            @extend %flex-sb-center;
            min-width: 823px;
        }

        &__breadcrumbs {
            display: flex;
            gap: 10px;

            & li {
                @include font(10px, 500);
                color: $hardGrayColor;
                text-wrap: nowrap;

                &:last-child {
                    color: $grayColor;
                }

                &:not(:last-child) {
                    border-right: 1px solid $hardGrayColor;
                    padding-right: 10px;

                    &:hover {
                        cursor: pointer;
                        color: $blueColor
                    }
                }
            }

        }
    }

    &-main {
        @extend %flex-center;
        padding: 28px 0 64px;
        gap: 55px;

        &__nav {
            @extend %flex-column-center;
        }

        &__ul {
            @extend %flex-column-center;
            margin-bottom: 25px;
        }

        &__item {
            @extend %flex-top-center;
            gap: 23px;
            box-sizing: border-box;
            border: 1px solid $whiteColor;
            padding-left: 34px;
            background: $whiteColor;
            min-width: 239px;

            &-name {
                @include font(16px, 500);
            }

            &:first-child {
                border-top-left-radius: 27px;
                border-top-right-radius: 27px;
                padding-top: 28px;
            }

            &:last-child {
                border-bottom-left-radius: 27px;
                border-bottom-right-radius: 27px;
                padding-bottom: 28px;
            }

            &:hover {
                cursor: pointer;

                & p {
                    color: $blueColor;
                }
            }
        }

        &__current {
            &-product {
                margin-bottom: 5px;
            }

            &-item {
                @extend %flex-column-center;
            }
        }

        &__promotion {
            @extend %flex-center-center;
            height: 239px;
            width: 239px;
            background: $whiteColor;
            color: $darkblueColor;
            box-sizing: border-box;
            border: 1px solid $whiteColor;
            border-radius: 27px;

            &:hover {
                color: $yellowColor;
            }
        }

        &__product {
            &-ul {
                @extend %flex-column;
                gap: 22px;
            }

            &-item {
                min-width: 823px;
                min-height: 239px;
                background: $whiteColor;
                box-sizing: border-box;
                border: 1px solid $whiteColor;
                border-radius: 28px;
                padding: 25px;
            }

            &-title {
                color: $blueColor;
                @include font (18px, 500);
                margin-left: 13px;
            }

            &-content {
                display: flex;
                gap: 52px;
            }

            &-option {
                @extend %flex-column-end-end;
                position: relative;

                &>* {
                    @include font(14px, 400);
                }

                &>select {
                    min-width: 81px;
                    min-height: 30px;
                    border: 0;
                    text-align: center;
                    appearance: none;
                    background-color: inherit;
                    z-index: 3;
                    border-radius: 11px;

                    // &:focus{
                    //     border-radius: 11px 11px 0 0;
                    // }

                    & option {
                        background-color: $grayColor;
                    }
                }

            }
        }
    }

    &-options {
        &__weight {
            &-box {}
        }
    }
}

.current-item {
    box-sizing: border-box;
    border: 1px solid $whiteColor;
    background: $whiteColor;
    @extend %flex-center-center;
    @include font(16px, 500);
    min-height: 48px;
    min-width: 239px;

    &:hover {
        cursor: pointer;
        color: $blueColor;
    }

    &__active {
        background: $blueColor;
        color: $whiteColor;
        border-radius: 11px;
        box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.1);
        min-width: 260px;

        &:hover {
            color: $whiteColor;
            cursor: auto;
        }
    }
}

.option {
    &-arrow {
        position: absolute;
        z-index: 3;
        left: 60px;
        bottom: 11px;

        &__background {
            background-color: $grayColor;
            min-width: 30px;
            min-height: 30px;
            border-radius: 11px;
            position: absolute;
            z-index: 2;
        }
    }

    &-background {
        min-width: 81px;
        min-height: 30px;
        background: rgba(183, 191, 202, 0.5);
        box-sizing: border-box;
        border-radius: 11px;
        position: absolute;
        z-index: 1;
    }
}