// #region colors
$blackColor: rgb(0,0,0);
$grayColor: rgb(194, 196, 199);
$whiteColor: rgb(255, 255, 255);
$blueColor: rgb(13, 100, 201);
$yellowColor: rgb(178, 245, 34);
$darkblueColor: rgb(22, 21, 79);
// #endregion