* {
    margin: 0;
    padding: 0;
    scrollbar-width: 0px;
}

*::-webkit-scrollbar {
    width: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    // display: flex;
    // justify-content: center;
}

.container {
    font-family: Roboto;
    // max-width: 1600px;
    display: flex;
    flex-direction: column;
    // align-items: center;
    min-height: 100vh;
    width: 100vw;
}