.header {
    position: relative;
    min-height: 559px;
    @extend %flex-top-center;
    flex-direction: column;

    &__background-img {
        position: absolute;
        background: url('../img/header/header-background-big.jpeg') bottom center no-repeat;
        background-size: cover;
        z-index: -3;
        height: 100%;
        width: 100%;
    }

    &__background-opacity {
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.7);
        z-index: -2;
        top: 0;
    }

    &__top {
        margin-left: 96px;
        margin-right: 96px;
        max-width: 1440px;
        z-index: 1;

        &-nav {
            padding-top: 27px;
            @extend %flex-top-center;
        }
    }

    &__logo {
        margin-right: 20px;

        &:hover {
            cursor: pointer;
        }
    }

    &__sections {
        display: flex;
        margin-right: 72px;
        cursor: pointer;

        &-link {
            color: $grayColor;
            @include font(16px, 400);
            min-width: 120px;
            min-height: 63px;
            @extend %flex-center-center;

            &:not(:last-child) {
                border-right: 1.5px solid $whiteColor;
            }
        }
    }

    &__user-interface {
        margin-right: 48px;
    }

    &__icons {
        display: flex;
        gap: 17px;
    }

    &__cart {
        margin-right: 35px;
        position: relative;

        &-background {
            border-radius: 0px 0px 11px 11px;
            background: $blueColor;
            position: absolute;
            height: 98px;
            width: 65px;
            z-index: 0;
            top: -40px;
            z-index: -1;
        }

        &-icon {
            margin: 17px;
        }

        &::after {
            content: '2';
            color: $blueColor;
            @include font(14px, 700);
            position: absolute;
            width: 30px;
            height: 30px;
            box-sizing: border-box;
            border-radius: 11px 11px 11px 5px;
            background: $yellowColor;
            @extend %flex-center-center;
            top: -26px;
            left: 17px;
        }
    }

    &__info {
        white-space: nowrap;

        &-phone {
            color: $whiteColor;
            @include font(18px, 500);
        }

        &-working {
            color: $whiteColor;
            @include font(14px, 400);
        }
    }
}

.search {
    &-box {
        border-bottom: 1px solid $whiteColor;
        @extend %flex-top-center;
        gap: 5px;
    }

    &-input {
        background-color: transparent;
        border: 0px;
        color: $whiteColor;

        &::placeholder {
            color: $whiteColor;
            @include font(14px, 400);
        }

        &:focus {
            outline-width: 0;
            color: $whiteColor;
        }
    }

    &-cross {
        cursor: pointer;

        &:hover {
            transform: scale(1.2)
        }
    }

    &-dropdown {
        @include create-dropdown($blackColor, $whiteColor, $grayColor, 40px, 0);
    }
}

.hover-big:hover {
    transition: all 0.5s;
    color: $whiteColor;
    @include font(16px, 700);
}

.sales-dropdown {
    @include create-dropdown($whiteColor, $darkblueColor, rgba(62, 122, 191, 0.7), 56px, 10px);
}

.banner {
    display: flex;
    justify-content: space-around;

    &__left {
        height: 100%;

    }

    &__picture {
        @extend %flex-center;
        align-items: end;
    }
}