.header {
    @include background-img('../img/header/header-background-big.jpeg', 0.7);
    min-height: 559px;
    @extend %flex-top-center;
    flex-direction: column;
    border-bottom: 10px solid $blueColor;

    &__top {
        margin-left: 96px;
        margin-right: 96px;
        max-width: 1440px;
        z-index: 1;
        margin-bottom: 117px;

        &-nav {
            padding-top: 27px;
            @extend %flex-top-center;
        }
    }

    &__logo {
        margin-right: 20px;

        &:hover {
            cursor: pointer;
        }
    }

    &__sections {
        display: flex;
        margin-right: 72px;
        cursor: pointer;

        &-link {
            color: $grayColor;
            @include font(16px, 400);
            min-width: 120px;
            min-height: 63px;
            @extend %flex-center-center;

            &:not(:last-child) {
                border-right: 1.5px solid $whiteColor;
            }
        }
    }

    &__user-interface {
        margin-right: 48px;
    }

    &__icons {
        display: flex;
        gap: 17px;
    }

    &__cart {
        margin-right: 35px;
        position: relative;

        &-background {
            border-radius: 0px 0px 11px 11px;
            background: $blueColor;
            position: absolute;
            height: 98px;
            width: 65px;
            z-index: 0;
            top: -40px;
            z-index: -1;
        }

        &-icon {
            margin: 17px;
        }

        &::after {
            content: '2';
            color: $blueColor;
            @include font(14px, 700);
            position: absolute;
            width: 30px;
            height: 30px;
            box-sizing: border-box;
            border-radius: 11px 11px 11px 5px;
            background: $yellowColor;
            @extend %flex-center-center;
            top: -26px;
            left: 17px;
        }
    }

    &__info {
        white-space: nowrap;

        &-phone {
            color: $whiteColor;
            @include font(18px, 500);
        }

        &-working {
            color: $whiteColor;
            @include font(14px, 400);
        }
    }

    &__middle {
        width: 100vw;
        @extend %flex-center;
    }
}

.search {
    &-box {
        border-bottom: 1px solid $whiteColor;
        @extend %flex-top-center;
        gap: 5px;
    }

    &-input {
        background-color: transparent;
        border: 0px;
        color: $whiteColor;

        &::placeholder {
            color: $whiteColor;
            @include font(14px, 400);
        }

        &:focus {
            outline-width: 0;
            color: $whiteColor;
        }
    }

    &-cross {
        cursor: pointer;

        &:hover {
            transform: scale(1.2)
        }
    }

    &-dropdown {
        @include create-dropdown($blackColor, $whiteColor, $grayColor, 40px, 0);
    }
}

.hover-big:hover {
    transition: all 0.5s;
    color: $whiteColor;
    @include font(16px, 700);
}

.sales-dropdown {
    @include create-dropdown($whiteColor, $darkblueColor, rgba(62, 122, 191, 0.7), 56px, 10px);
}

.banner {
    &__info {
        display: flex;
        align-items: end;
        max-width: 1440px;
        gap: 167px;
        margin-bottom: 10px;
    }

    &__left {
        height: 100%;
        flex-shrink: 1;
    }

    &__picture {
        @extend %flex-center;
        align-items: end;
    }

    &__right {
        color: $whiteColor;
        flex-shrink: 1;

        &-bottom {
            margin-bottom: 47px;
            display: flex;
        }
    }

    &__title {
        @include font(29px, 400);
        margin-bottom: 40px;

        &-name {
            font-size: 40px;
        }
    }

    &__description {
        @include font(16px, 400);
        margin-bottom: 33px;
    }

    &__price {
        &-box {
            display: flex;
            padding-right: 16px;
        }

        &-old {
            text-decoration: line-through;
            @include font(14px, 400);
        }

        &-new {
            @include font(18px, 700);
        }
    }

    &__prices {
        padding-right: 24px;
        display: flex;
        flex-direction: column;
        justify-content: end;

        &:first-child {
            border-right: 2px solid $whiteColor;
        }
    }

    &__superprice {
        display: flex;
        justify-content: end;

        &-box {
            padding-left: 24px;
            display: flex;
            align-items: end;
        }
    }

    &__button {
        @include font(14px, 700);
        color: $whiteColor;
        background-color: $blueColor;
        width: 194px;
        height: 48px;
        @extend %flex-center-center;
        border: 0;
        border-radius: 11px;

        &:hover {
            background-color: $darkblueColor;
            cursor: pointer;
        }

        &:active {
            color: $blueColor;
            background-color: $whiteColor;
            border: 1.5px solid $blueColor;
            white-space: nowrap;
            box-sizing: border-box;
        }
    }

    &__nav {
        display: flex;
        justify-content: end;
        margin-bottom: 18px;

        &-box {
            display: flex;
            gap: 7px;
            margin-right: 15px;
        }

        &-line:hover,
        &-dot:hover {
            cursor: pointer;
        }
    }
}