%flex-center {
    display: flex;
    justify-content: center;
}

%flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%flex-center-end {
    display: flex;
    justify-content: center;
    align-items: end;
}

%flex-top-center {
    display: flex;
    align-items: center;
}

%flex-column {
    display: flex;
    flex-direction: column;
}

%flex-column-center-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

%flex-column-end {
    display: flex;
    flex-direction: column;
    justify-content: end;
}