.banner__picture, .header__middle {
  display: flex;
  justify-content: center;
}

.banner__button, .header__cart::after, .header__sections-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box, .header__top-nav, .header {
  display: flex;
  align-items: center;
}

.usable:hover {
  cursor: pointer;
}
.usable:hover path {
  fill: rgb(178, 245, 34);
}
.usable:active path {
  fill: rgb(13, 100, 201);
}

.dropdown-menu__button-nav {
  position: relative;
}
.dropdown-menu__checkbox {
  position: absolute;
  top: -66666px;
}
.dropdown-menu__checkbox:checked ~ .dropdown-menu__nav {
  display: block;
}
.dropdown-menu__label {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}

.header {
  position: relative;
  min-height: 559px;
  flex-direction: column;
  border-bottom: 10px solid rgb(13, 100, 201);
}
.header__background-img {
  position: absolute;
  background: url("../img/header/header-background-big.jpeg") bottom center no-repeat;
  background-size: cover;
  z-index: -3;
  height: 100%;
  width: 100%;
}
.header__background-opacity {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: -2;
  top: 0;
}
.header__top {
  margin-left: 96px;
  margin-right: 96px;
  max-width: 1440px;
  z-index: 1;
  margin-bottom: 117px;
}
.header__top-nav {
  padding-top: 27px;
}
.header__logo {
  margin-right: 20px;
}
.header__logo:hover {
  cursor: pointer;
}
.header__sections {
  display: flex;
  margin-right: 72px;
  cursor: pointer;
}
.header__sections-link {
  color: rgb(194, 196, 199);
  font-size: 16px;
  font-weight: 400;
  min-width: 120px;
  min-height: 63px;
}
.header__sections-link:not(:last-child) {
  border-right: 1.5px solid rgb(255, 255, 255);
}
.header__user-interface {
  margin-right: 48px;
}
.header__icons {
  display: flex;
  gap: 17px;
}
.header__cart {
  margin-right: 35px;
  position: relative;
}
.header__cart-background {
  border-radius: 0px 0px 11px 11px;
  background: rgb(13, 100, 201);
  position: absolute;
  height: 98px;
  width: 65px;
  z-index: 0;
  top: -40px;
  z-index: -1;
}
.header__cart-icon {
  margin: 17px;
}
.header__cart::after {
  content: "2";
  color: rgb(13, 100, 201);
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border-radius: 11px 11px 11px 5px;
  background: rgb(178, 245, 34);
  top: -26px;
  left: 17px;
}
.header__info {
  white-space: nowrap;
}
.header__info-phone {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
}
.header__info-working {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
}
.header__middle {
  width: 100vw;
}

.search-box {
  border-bottom: 1px solid rgb(255, 255, 255);
  gap: 5px;
}
.search-input {
  background-color: transparent;
  border: 0px;
  color: rgb(255, 255, 255);
}
.search-input::-moz-placeholder {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
}
.search-input::placeholder {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
}
.search-input:focus {
  outline-width: 0;
  color: rgb(255, 255, 255);
}
.search-cross {
  cursor: pointer;
}
.search-cross:hover {
  transform: scale(1.2);
}
.search-dropdown {
  display: none;
  position: absolute;
  white-space: nowrap;
  background-color: rgb(255, 255, 255);
  top: 40px;
  left: 0;
  font-size: 14px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  border-radius: 11px;
}
.search-dropdown__item {
  padding: 6px 14px;
}
.search-dropdown__item:hover {
  background: rgb(194, 196, 199);
}
.search-dropdown__item:hover:first-child {
  border-radius: 11px 11px 0 0;
}
.search-dropdown__item:hover:last-child {
  border-radius: 0 0 11px 11px;
}

.hover-big:hover {
  transition: all 0.5s;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
}

.sales-dropdown {
  display: none;
  position: absolute;
  white-space: nowrap;
  background-color: rgb(22, 21, 79);
  top: 56px;
  left: 10px;
  font-size: 14px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  border-radius: 11px;
}
.sales-dropdown__item {
  padding: 6px 14px;
}
.sales-dropdown__item:hover {
  background: rgba(62, 122, 191, 0.7);
}
.sales-dropdown__item:hover:first-child {
  border-radius: 11px 11px 0 0;
}
.sales-dropdown__item:hover:last-child {
  border-radius: 0 0 11px 11px;
}

.banner__info {
  display: flex;
  align-items: end;
  max-width: 1440px;
  gap: 167px;
  margin-bottom: 10px;
}
.banner__left {
  height: 100%;
  flex-shrink: 1;
}
.banner__picture {
  align-items: end;
}
.banner__right {
  color: rgb(255, 255, 255);
  flex-shrink: 1;
}
.banner__right-bottom {
  margin-bottom: 47px;
  display: flex;
}
.banner__title {
  font-size: 29px;
  font-weight: 400;
  margin-bottom: 40px;
}
.banner__title-name {
  font-size: 40px;
}
.banner__description {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 33px;
}
.banner__price-box {
  display: flex;
  padding-right: 16px;
}
.banner__price-old {
  text-decoration: line-through;
  font-size: 14px;
  font-weight: 400;
}
.banner__price-new {
  font-size: 18px;
  font-weight: 700;
}
.banner__prices {
  padding-right: 24px;
}
.banner__prices:first-child {
  border-right: 2px solid rgb(255, 255, 255);
}
.banner__superprice {
  display: flex;
  justify-content: end;
}
.banner__superprice-box {
  padding-left: 24px;
  display: flex;
  align-items: end;
}
.banner__button {
  font-size: 14px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  background-color: rgb(13, 100, 201);
  width: 194px;
  height: 48px;
  border: 0;
  border-radius: 11px;
}
.banner__button:hover {
  background-color: rgb(22, 21, 79);
  cursor: pointer;
}
.banner__button:active {
  color: rgb(13, 100, 201);
  background-color: rgb(255, 255, 255);
  border: 1.5px solid rgb(13, 100, 201);
  white-space: nowrap;
  box-sizing: border-box;
}
.banner__nav {
  display: flex;
  justify-content: end;
  margin-bottom: 18px;
}
.banner__nav-box {
  display: flex;
  gap: 7px;
  margin-right: 15px;
}
.banner__nav-line:hover, .banner__nav-dot:hover {
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */