@keyframes slide-out-right {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(10px);
    opacity: 0;
  }
}
@keyframes appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0, 7;
  }
}
@keyframes disappearance {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}
@keyframes rotation-right {
  0% {
    rotate: 0deg;
  }
  50% {
    rotate: 180deg;
  }
  100% {
    rotate: 360deg;
  }
}
@keyframes rotation-left {
  0% {
    rotate: 0deg;
  }
  50% {
    rotate: -180deg;
  }
  100% {
    rotate: -360deg;
  }
}
.footer__box, .index-delivery, .index-services, .index-about-us, .index-catalog__cards, .index-catalog, .banner__picture, .header__middle {
  display: flex;
  justify-content: center;
}

.index-catalog__card-animation, .banner__button, .header__cart::after, .header__sections-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-article__icon-box {
  display: flex;
  justify-content: center;
  align-items: end;
}

.search-box, .header__top-nav, .header {
  display: flex;
  align-items: center;
}

.footer__phones-list, .footer__address-links, .footer__address-list, .footer__company-content, .footer__logo-box, .index-about-us__nav-ul {
  display: flex;
  flex-direction: column;
}

.footer, .index-catalog__card-box, .index-catalog__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.index-article__content {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.usable:hover {
  cursor: pointer;
}
.usable:hover path {
  fill: rgb(178, 245, 34);
}
.usable:active path {
  fill: rgb(13, 100, 201);
}

.dropdown-menu__button-nav {
  position: relative;
}
.dropdown-menu__checkbox {
  position: absolute;
  top: -66666px;
}
.dropdown-menu__checkbox:checked ~ .dropdown-menu__nav {
  display: block;
}
.dropdown-menu__label {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  min-width: 100vw;
}

.header {
  position: relative;
  min-height: 559px;
  flex-direction: column;
  border-bottom: 10px solid rgb(13, 100, 201);
}
.header__background {
  position: absolute;
  background: url("../img/header/header-background-big.jpeg") center center no-repeat;
  background-size: cover;
  z-index: -3;
  height: 100%;
  width: 100%;
}
.header__background-opacity {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: -2;
  top: 0;
}
.header__top {
  margin-left: 96px;
  margin-right: 96px;
  max-width: 1440px;
  z-index: 1;
  margin-bottom: 117px;
}
.header__top-nav {
  padding-top: 27px;
}
.header__logo {
  margin-right: 20px;
}
.header__logo:hover {
  cursor: pointer;
}
.header__sections {
  display: flex;
  margin-right: 72px;
  cursor: pointer;
}
.header__sections-link {
  color: rgb(194, 196, 199);
  font-size: 16px;
  font-weight: 400;
  min-width: 120px;
  min-height: 63px;
}
.header__sections-link:not(:last-child) {
  border-right: 1.5px solid rgb(255, 255, 255);
}
.header__user-interface {
  margin-right: 48px;
}
.header__icons {
  display: flex;
  gap: 17px;
}
.header__cart {
  margin-right: 35px;
  position: relative;
}
.header__cart-background {
  border-radius: 0px 0px 11px 11px;
  background: rgb(13, 100, 201);
  position: absolute;
  height: 98px;
  width: 65px;
  z-index: 0;
  top: -40px;
  z-index: -1;
}
.header__cart-icon {
  margin: 17px;
}
.header__cart::after {
  content: "2";
  color: rgb(13, 100, 201);
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border-radius: 11px 11px 11px 5px;
  background: rgb(178, 245, 34);
  top: -26px;
  left: 17px;
}
.header__info {
  white-space: nowrap;
}
.header__info-phone {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
}
.header__info-working {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
}
.header__middle {
  width: 100vw;
}

.search-box {
  border-bottom: 1px solid rgb(255, 255, 255);
  gap: 5px;
}
.search-input {
  background-color: transparent;
  border: 0px;
  color: rgb(255, 255, 255);
}
.search-input::-moz-placeholder {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
}
.search-input::placeholder {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
}
.search-input:focus {
  outline-width: 0;
  color: rgb(255, 255, 255);
}
.search-cross {
  cursor: pointer;
}
.search-cross:hover {
  transform: scale(1.2);
}
.search-dropdown {
  display: none;
  position: absolute;
  white-space: nowrap;
  background-color: rgb(255, 255, 255);
  top: 40px;
  left: 0;
  font-size: 14px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  border-radius: 11px;
}
.search-dropdown__item {
  padding: 6px 14px;
  cursor: pointer;
}
.search-dropdown__item:hover {
  background: rgb(194, 196, 199);
}
.search-dropdown__item:hover:first-child {
  border-radius: 11px 11px 0 0;
}
.search-dropdown__item:hover:last-child {
  border-radius: 0 0 11px 11px;
}

.hover-big:hover {
  transition: all 0.5s;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
}

.sales-dropdown {
  display: none;
  position: absolute;
  white-space: nowrap;
  background-color: rgb(22, 21, 79);
  top: 56px;
  left: 10px;
  font-size: 14px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  border-radius: 11px;
}
.sales-dropdown__item {
  padding: 6px 14px;
  cursor: pointer;
}
.sales-dropdown__item:hover {
  background: rgba(62, 122, 191, 0.7);
}
.sales-dropdown__item:hover:first-child {
  border-radius: 11px 11px 0 0;
}
.sales-dropdown__item:hover:last-child {
  border-radius: 0 0 11px 11px;
}

.banner__info {
  display: flex;
  align-items: end;
  max-width: 1440px;
  gap: 167px;
  margin-bottom: 10px;
}
.banner__left {
  height: 100%;
  flex-shrink: 1;
}
.banner__picture {
  align-items: end;
}
.banner__right {
  color: rgb(255, 255, 255);
  flex-shrink: 1;
}
.banner__right-bottom {
  margin-bottom: 47px;
  display: flex;
}
.banner__title {
  font-size: 29px;
  font-weight: 400;
  margin-bottom: 40px;
}
.banner__title-name {
  font-size: 40px;
}
.banner__description {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 33px;
}
.banner__price-box {
  display: flex;
  padding-right: 16px;
}
.banner__price-old {
  text-decoration: line-through;
  font-size: 14px;
  font-weight: 400;
}
.banner__price-new {
  font-size: 18px;
  font-weight: 700;
}
.banner__prices {
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.banner__prices:first-child {
  border-right: 2px solid rgb(255, 255, 255);
}
.banner__superprice {
  display: flex;
  justify-content: end;
}
.banner__superprice-box {
  padding-left: 24px;
  display: flex;
  align-items: end;
}
.banner__button {
  font-size: 14px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  background-color: rgb(13, 100, 201);
  width: 194px;
  height: 48px;
  border: 0;
  border-radius: 11px;
}
.banner__button:hover {
  background-color: rgb(22, 21, 79);
  cursor: pointer;
}
.banner__button:active {
  color: rgb(13, 100, 201);
  background-color: rgb(255, 255, 255);
  border: 1.5px solid rgb(13, 100, 201);
  white-space: nowrap;
  box-sizing: border-box;
}
.banner__nav {
  display: flex;
  justify-content: end;
  margin-bottom: 18px;
}
.banner__nav-box {
  display: flex;
  gap: 7px;
  margin-right: 15px;
}
.banner__nav-line:hover, .banner__nav-dot:hover {
  cursor: pointer;
}

.index-catalog {
  border-bottom: 1.5px solid rgb(194, 196, 199);
  background: linear-gradient(0deg, rgb(249, 249, 249) 51.616%, rgb(213, 217, 217) 198.516%);
}
.index-catalog__box {
  max-width: 1440px;
}
.index-catalog__title {
  margin-top: 58px;
  color: rgb(13, 100, 201);
  font-size: 24px;
  font-weight: 700;
}
.index-catalog__cards {
  margin: 53px 80px 78px;
  flex-wrap: wrap;
  gap: 54px;
}
.index-catalog__card {
  position: relative;
}
.index-catalog__card-hover {
  position: absolute;
  box-sizing: border-box;
  border-radius: 30px;
  height: 100%;
  width: 100%;
  background: rgba(62, 122, 191, 0.7);
  display: none;
}
.index-catalog__card-box {
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 30px;
}
.index-catalog__card-img {
  padding: 17px 10px 0px;
}
.index-catalog__card-name {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 33px;
}
.index-catalog__card-animation {
  width: 100%;
  height: 100%;
  position: relative;
}
.index-catalog__card-animation-text {
  position: absolute;
}
.index-catalog__card-animation-chamomile {
  position: absolute;
}
.index-catalog__card:hover {
  cursor: pointer;
}
.index-catalog__card:hover .index-catalog__card-hover {
  animation: appearance 0.5s forwards;
  display: block;
}
.index-catalog__card:hover .index-catalog__card-animation-chamomile {
  animation: rotation-right 5s linear infinite;
}
.index-catalog__card:hover .index-catalog__card-animation-text {
  animation: rotation-left 5s linear infinite;
}
.index-catalog__card:not(:hover) .index-catalog__card-hover {
  animation: disappearance 0.5s forwards;
  display: block;
}

.index-about-us__box {
  display: flex;
  gap: 29px;
  padding: 69px 162px 148px;
  max-width: 1440px;
  width: 100%;
}
.index-about-us__nav-box {
  margin-left: 12px;
  padding: 26px 48px 17px;
  border-left: 1px solid rgb(194, 196, 199);
  flex-basis: 321px;
}
.index-about-us__nav-ul {
  gap: 80px;
}
.index-about-us__nav-li {
  position: relative;
}
.index-about-us__nav-circle {
  display: none;
  position: absolute;
  left: -60px;
}
.index-about-us__nav-link {
  color: rgb(194, 196, 199);
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;
}
.index-about-us__nav-link:hover {
  color: rgb(13, 100, 201);
}
.index-about-us__info-box {
  flex-grow: 2;
  flex-basis: 321px;
  max-width: 642px;
}
.index-about-us__info-title {
  margin-top: 19px;
  margin-bottom: 28px;
  font-size: 20px;
  font-weight: 700;
}
.index-about-us__info-content {
  color: rgba(58, 59, 60, 0.7);
  font-size: 18px;
  font-weight: 500;
}

.active__circle {
  display: block;
}

.index-services {
  background: linear-gradient(180deg, rgb(225, 230, 230) 51.658%, rgb(118, 119, 119) 162.359%);
}
.index-services__content-title {
  color: rgb(13, 100, 201);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}
.index-services__content-subtitle {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
}
.index-services__content-text {
  color: rgba(58, 59, 60, 0.7);
  font-size: 18px;
  font-weight: 500;
  opacity: 0.7;
  margin-bottom: 30px;
}
.index-services__icon:hover {
  transform: rotate(5760deg);
  transition: 10s;
}

.index-delivery {
  position: relative;
}
.index-delivery__background {
  position: absolute;
  background: url("../img/index_delivery/background.jpeg") center center no-repeat;
  background-size: cover;
  z-index: -3;
  height: 100%;
  width: 100%;
}
.index-delivery__background-opacity {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: -2;
  top: 0;
}
.index-delivery__content-subtitle {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 24px;
  color: rgb(255, 255, 255);
}
.index-delivery__content-text {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  opacity: 0.7;
  margin-bottom: 80px;
}
.index-delivery__icon:hover {
  animation: slide-out-right 0.7s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.index-article__box {
  width: 100%;
  max-width: 1440px;
  padding-left: 152px;
  margin-bottom: 70px;
  display: flex;
}
.index-article__img {
  margin-right: 86px;
}
.index-article__content {
  margin-right: 50px;
  max-width: 574px;
}
.index-article__content-button {
  width: 194px;
  height: 48px;
  border-radius: 11px;
  background: rgb(255, 255, 255);
  border: 0;
  font-size: 14px;
  font-weight: 700;
  box-sizing: border-box;
}
.index-article__content-button:hover {
  cursor: pointer;
  background: rgb(22, 21, 79);
  color: rgb(255, 255, 255);
}
.index-article__content-button:active {
  background: rgb(255, 255, 255);
  color: rgb(13, 100, 201);
  border: 1.5px solid rgb(13, 100, 201);
}
.index-article__icon {
  margin: 15px;
}
.index-article__icon-box {
  width: 65px;
  height: 98px;
  background-color: rgb(13, 100, 201);
  border-radius: 0px 0px 11px 11px;
}
.index-article__icon:hover {
  cursor: pointer;
}
.index-article__icon:hover path {
  fill: rgb(178, 245, 34);
}

.footer {
  min-width: 100vw;
}
.footer__box {
  max-width: 1440px;
  min-height: 365px;
  padding: 62px 113px 62px 141px;
}
.footer__card-box {
  display: flex;
}
.footer__card-title {
  font-size: 14px;
  font-weight: 700;
  padding-top: 28px;
  padding-bottom: 15px;
  border-bottom: 1.5px solid rgb(194, 196, 199);
  margin-bottom: 52px;
}
.footer__logo-box {
  min-width: 304px;
  gap: 96px;
  margin-right: 95px;
}
.footer__logo-top {
  display: flex;
  justify-content: start;
}
.footer__logo-link:hover svg path {
  fill: rgb(13, 100, 201);
}
.footer__logo-bottom {
  display: flex;
  justify-content: end;
}
.footer__logo-confidentiality {
  max-width: 199px;
  font-size: 10px;
  font-weight: 400;
  color: rgb(22, 21, 79);
}
.footer__logo-confidentiality span {
  text-decoration-line: underline;
}
.footer__company-box {
  margin-right: 153px;
}
.footer__company-content {
  gap: 30px;
}
.footer__company-link {
  font-size: 14px;
  font-weight: 700;
  color: rgb(22, 21, 79);
  text-wrap: nowrap;
}
.footer__company-link:hover {
  color: rgb(13, 100, 201);
}
.footer__address-box {
  margin-right: 116px;
}
.footer__address-list {
  margin-bottom: 26px;
  gap: 5px;
}
.footer__address-item {
  font-size: 16px;
  font-weight: 500;
  text-wrap: nowrap;
}
.footer__address-links {
  gap: 24px;
}
.footer__address-link {
  display: flex;
  gap: 17px;
}
.footer__address-link p {
  font-size: 14px;
  font-weight: 700;
  text-wrap: nowrap;
  color: rgb(22, 21, 79);
}
.footer__address-link:hover p {
  color: rgb(13, 100, 201);
}
.footer__address-link:hover svg path {
  fill: rgb(13, 100, 201);
}
.footer__phones-list {
  gap: 5px;
  margin-bottom: 43px;
}
.footer__phones-item {
  font-size: 16px;
  font-weight: 500;
  text-wrap: nowrap;
  color: rgb(22, 21, 79);
}
.footer__phones-button {
  font-size: 14px;
  font-weight: 700;
  border-radius: 11px;
  background: rgb(194, 196, 199);
  border: 0;
  box-sizing: border-box;
  width: 194px;
  height: 48px;
}
.footer__phones-button:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: rgb(13, 100, 201);
}
.footer__phones-button:active {
  color: rgb(13, 100, 201);
  background-color: rgb(255, 255, 255);
  border: 1.5px solid rgb(13, 100, 201);
}
.footer__bottom-line {
  width: 100vw;
  height: 72px;
  background-color: rgb(22, 21, 79);
}/*# sourceMappingURL=style.css.map */